.login-main {
    width: 40vw;
    height: 80vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 100%;
    border: 2px solid #3a003a;
    border-radius: 14px;
    box-shadow: 0px 0px 40px 1px rgb(255, 255, 255, 0.25) inset;
}

.heading1 h1,
h2,
h5 {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 25px;
}

h5 {
    font-size: 12px;
}

h6 {
    margin: auto;
    width: 278px;
    height: max-content;
    text-align: center;
    line-height: 15px;
    font-style: 12px;
    font-weight: 500;
    padding: 3px;
    color: rgb(255, 82, 82);
}

.switch-page {
    color: rgba(199, 78, 255, 0.8);
    transition: all 0.5s;
}

.switch-page:link {
    text-decoration: none;
    font-weight: 700;
}

.switch-page:hover {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    font-weight: 700;
}

.form1 {
    margin: 5px auto;
    height: fit-content;
}

input {
    margin: 10px auto;
    height: 40px;
    width: 250px;
    border-radius: 8px;
    border: 2px solid;
    text-indent: 20px;
    outline: none;
}

input::placeholder {
    font-weight: 500;
}

.inputError {
    border-color: rgb(255, 82, 82);
}

.inputError::placeholder {
    color: rgb(255, 82, 82);
}

button {
    margin: 10px auto;
    height: 40px;
    width: 250px;
    font-weight: 900;
    border-radius: 8px;
    border-width: 0;
    outline: none;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(157, 62, 201, 0.8);
    letter-spacing: 2px;
    transition: all 0.5s;
}

button:hover {
    color: rgba(199, 78, 255, 0.8);
    background-color: rgba(108, 0, 158, 0.5);
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 900;
}