.navbar {
    background: linear-gradient( 90deg, rgb(51, 0, 51) 0%, rgb(51, 0, 51) 51%, rgb(51, 0, 51) 100%);
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 5px 5px 5px solid white;
}

.navbar ul {
    display: flex;
}

.nav-logo {
    padding: 0 1rem;
}

.nav-links {
    padding: 0.5rem 1rem;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
}