#footer {
    height: max-content;
    width: 100vw;
    background: linear-gradient( 90deg, rgb(51, 0, 51) 51%, rgb(51, 0, 51) 0%, rgb(51, 0, 51) 51%);
    border: 1px #540054;
    border-style: solid hidden hidden hidden;
}

.social-main {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.social-container {
    width: 10%;
}

.social-container h5 {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}