.footer {
    height: 120px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 90deg, rgb(51, 0, 51) 51%, rgb(51, 0, 51) 0%, rgb(51, 0, 51) 51%);
    border: 1px #540054;
    border-style: solid hidden hidden hidden;
}

.footer h1 {
    margin: 0 auto;
    height: auto;
    width: max-content;
}

.footer h3 {
    font-size: 1rem;
    margin: 0 auto;
    height: auto;
    width: max-content;
}