.main {
    width: 100vw;
    height: 100%;
    background-image: url(/src/images/bg-texture.svg);
    background-size: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin: auto;
    width: auto;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.heading1 {
    margin: auto;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.85);
}

h2 {
    color: rgba(255, 255, 255, 0.85);
    width: max-content;
    margin: 1rem auto 0;
    font-size: 1rem;
}

form {
    width: 300px;
    margin: 0.2rem 2rem;
    display: flex;
    flex-direction: column;
}

input {
    width: 300px;
    margin-top: 1rem;
    padding: 0.9rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    text-indent: 1rem;
    outline: none;
    caret-color: hsl(248, 32%, 49%);
}

input:focus {
    border: 1px solid hsl(248, 32%, 49%);
}

.red {
    border: 2px solid #ff7a7a;
    background-image: url(images/svg.svg);
    background-repeat: no-repeat;
    background-size: 2.1rem;
    background-position: right;
    background-position-x: 97%;
}

.red::placeholder {
    color: #ff7a7a;
}

input::placeholder {
    font-size: 0.7rem;
    font-weight: 700;
}

button {
    width: 300px;
    margin-top: 1rem;
    padding: 1rem;
    background-color: hsl(248, 32%, 49%);
    border: 0 solid;
    box-shadow: 0 -1px 9px hsl(248, 95%, 76%) inset;
    border-radius: 0.3rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.bottom {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h6 {
    margin: auto;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 600;
    text-align: center;
}

.bottom a {
    font-weight: 900;
    text-decoration: none;
    color: hsl(248, 32%, 49%);
}